<!doctype html>
<html>
    <head>
    </head>
    <body>
    	<h2 align="center"><%= button_to "Back", tree_builder_path, method: :get, params: { str: @string },  class: 'button' %></h2>
    	<h1 align="center">Input String: <%= @string %></h1>
    	<% counter = 1 %>
    	<% @out_result.each do |t| %>
            <h3 align="center">
            <p style="color: red;">Result <%= counter %></p><%= t %>
            <div class="div_pos">
                <%= button_to 'DROW', tree_builder_build_path, method: :get, params: { str: t },  class: 'button btn_pos' %>
                <%= button_to "Vector Processor", tree_builder_vector_processor_path, method: :get, params: { str: t }, class: 'button btn_pos' %></br>
            </div>
            </h3>
            <% counter += 1 %>
        <% end %>
    </body>
</html>